h1{
    background-color: #6CABDD;

}

body{
    background-color: #6CABDD;
}

/*Match Page*/
.droppable {
    width: 800px;
    height: 200px;
    color: white;
    text-align: center;
}
.player {
    width: 75px;
    height: 75px;
    color: white;
    background-color: black;
    text-align: center;
}
.field {
    width: 1500px;
    height: 600px;
    background-color: darkgreen;
    
    display: grid;
    grid-template-columns: repeat(3, 500px);
    column-gap: 10px;
    row-gap: 1em;
}
.position {
    width: 75px;
    height: 75px;
}