body{
    background-color: #6CABDD;
    font-family: sans-serif;
}

h1{
    background-color: #6CABDD;
    font-family: Arial, Helvetica, sans-serif;

}

h2 {

    text-align: center;
    font-size:xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h3 {

    text-align: center;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


#dropdown, #dropdown-label{
    color: black;
    border-width: 5px;
}

.MuiSvgIcon-root{
    color: black;
}

#playButton{
    font-size: 9.5rem;
}
.MuiDataGrid-columnHeaders{
   background-color:  #358ad0;
   font-size: larger;

}

/*START OF MATCH PAGE*/
.match-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.match-page-center {
    display: flex;
    gap: 1em;
}
.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.droppable {
    width: 700px;
    height: auto;
    color: white;
    text-align: center;
}
.bench {
    width: 500px;
}
.player {
    width: 50px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: center;
}

/*SCOREBOARD*/
.score-board {
    width: 320px;
    height: 35px;
    background-color: black;
    background-color: lightgrey;
    color: white;
    display: flex;
    margin-left: 75px;
    align-self: flex-start;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    border-radius: 10px;
}
.scoreboard-team {
    width: 50px;
    height: 40px;
    color: black;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center;
}
.scoreboard-score {
    width: 90px;
    height: 40px;
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:center;
}
/*SCOREBOARD*/

.team-energy {
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
    color: white;
    border-radius: 50%;
    text-align: center;
}

/*FIELD*/
.field {
    width: 770px;
    height: 515px;

    display: flex;
    justify-content: space-evenly;

    background-image: url("../src/assets/field.jpg");
    background-size: 770px;
    margin-top: 25px;
}
.field-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.position {
    width: 50px;
    height: 50px;
}
/*FIELD*/
/*END OF MATCH PAGE*/

/*TIMER */

.stopwatch-container {
    height: 5vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.timer-display {
    display: flex;
    margin-top: 60px;
    margin-right: 980px;
    color: #ccc;
}

.timer-display p {
    margin: 0;
    font-size: 1.75rem;
    font-weight:500;
    letter-spacing: 1px; 
    font-family: monospace;
}

.timer-display span {
    font-size: 1.75rem;
    position: relative;
    top: 0px;
    letter-spacing: 1px;
}


.stopwatch-controls-container button {
    margin: 1px;
    padding: 1px 4px;
    font-size: 1.3rem;
}